@charset "utf-8";
*{margin: 0;
padding: 0;}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{display: block;}
body{font-family: '돋음',dotum,sans-serif;
background-color: #f2f2f2;color:#333;
}
div#wrap{
  width:100%;
  outline: 1px solid blue;
}

header{
  width:1200px;
  outline: 1px solid blue;
  margin: 0 auto;
  background-color: #ff5050;
}
header:after{
content: "";display: block;clear: both;
}

header h1{
  width:300px; 
  padding: 30px 0;
  float: left;
  outline: 1px solid blue;
}

header h1 img{
  width:200px;
  height:40px;
  margin: 0 auto;
}

header nav{
  width:900px;float: right;
  margin-top: 60px;
  outline: 1px solid blue;
}
header nav ul.gnb{
  width:600px;float: right;
  position: relative;
  outline: 1px solid blue;
}
header nav ul.gnb >li {
  width:150px;
  height: 40px;
  float: left;
  text-align: center;line-height: 40px;
  outline: 1px solid blue;
}
header nav ul.gnb >li> div.submenu {
display: none;
width:600px;
position: absolute;top:40px; right:0;
background-color: rgba(255, 255, 255, 0.7);
padding-left:600px ;
z-index: 5;
}
header nav ul.gnb >li:hover> div.submenu {
  display: block;
}
header nav ul.gnb >li> div.submenu >ul {
  width: 150px;   
  float: left;
  outline: 1px solid blue;
}
header nav ul.gnb >li >a {
  display: block;
}
header nav ul.gnb >li:hover >a {
  font-weight: bold;
  background-color: #ffc000;
}
header nav ul.gnb >li > div.submenu>ul >li> a {
  display: block;
}
header nav ul.gnb >li> div.submenu>ul>li >a:hover {
  font-weight: bold;
  background-color: #5b9bd5
}

main{
  width:1200px;
  margin: 0 auto;
  outline: 1px solid blue;
}
main figure{
  height:300px;
  outline: 1px solid blue;
}
main figure ul {
  height: 300px;
  position: relative;
}
main figure ul li{
  width:1200px;
  height:300px;
  position: absolute; top:0;left: 0;
}
main figure ul li.active{
z-index: 1;
}

main section {
    outline: 1px solid blue;
}
main section::after {
    content: ""; display: block; clear: both;
}

main section article{
  width:400px;
  height:200px;
  float: left;
}

main section article.notice >span{
  width:200px; height:40px;
  text-align: center; line-height: 40px; background-color: gray;border-top-right-radius: 10px; display: block; color: #f2f2f2;font-weight: bold;
}
main section article.notice >ul{
  height:160px; padding:15px 20px;box-sizing: border-box; line-height: 1.6;
  outline: 1px solid blue;
}
main section article.notice >ul > li{
  list-style: square; list-style-position: inside;
  position: relative; 
}
main section article.notice >ul > li> a >span{
  position: absolute; top:0; right:0;
}
main section article.notice > ul > li:hover >a > span{
  text-decoration: underline; color: #5b9bd5
}


main section article.gallery >span{
  width:200px; height:40px;
  text-align: center; line-height: 40px; background-color: gray;border-top-right-radius: 10px; display: block; color: #f2f2f2;font-weight: bold;
}
main section article.gallery >ul{
  height:160px; padding: 20px;box-sizing: border-box; background-color: #f2f2f2;
  outline: 1px solid blue;
}
main section article.gallery> ul > li{
width: 110px; height:120px; float: left;
}
main section article.gallery> ul > li > a >img{
  width: 110px; height:120px;
}
main section article.gallery> ul > li:not(:first-child){margin-left: 15px;
width: 110px; height:120px; float: left;
}
main section article.gallery> ul > li:hover > a{
  opacity: 0.7;
}

main section article.goto > a > img{
  width:400px; height:200px;
}
footer{
  width:1200px; margin: 0 auto;
background-color: #333;
color: #fff;
outline: 1px solid blue;
}
footer::after{
  content: "";display: block;clear: both;
}
footer div#foot_cont{
  width:900px;
  float: left;

}

footer div#foot_cont div.foot_menu {height: 50px;}

footer div#foot_cont div.foot_menu ul{
width:600px; height:50px;  margin: 0  auto;
}
footer div#foot_cont div.foot_menu ul li{
width:200px; height:50px;text-align:center;
line-height: 50px; float: left; 
}
footer div#foot_cont div.foot_copy{
height:50px; text-align: center; line-height: 50px; 

}
footer div#family{
width: 300px; height: 100px; 
text-align: center; line-height: 100px;
 float:left; 
box-sizing: border-box;
}
footer div#family select{
  border: 1px solid gray;
  width:200px; height:40px;
  padding: 10px; 
}
div#popup{
  position: fixed;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding:20px;
  border: 5px double gray;
  z-index: 10;
  display: none;
}
div#popup h2{
  padding: 10px;;
  background-color: #ff5050;color: #f2f2f2;
  font-size: bold;
}
div#popup div.p_cont{
  width:400px; height: 400px;
  padding: 10px;
}
div#popup div.p_cont h3{
  margin-top:10px ;
}
div#popup div.p_cont p{
  line-height: 1.5;
  margin-top: 10px;
}
div#popup div.close{
  text-align: right;
}
div#popup div.close a{
  padding: 10px; border-radius: 10px;border: 1px solid gray;
}