@charset "utf-8";

*{margin: 0;padding: 0; } 
a{text-decoration: none; color: #14B2BD;}
ul,li{list-style: none;}
img{object-fit: contain;object-fit: cover;}
html,body{
  background-color: #EFF0F2;
  display: flex;
}
div.wrap{
  width: 100%;
  margin: 0 auto;
  height: 900px;
  /* position: fixed; */
  /* outline: 1px solid #61758F; */
}
div.inner{
  width: 1440px;
  height: 900px;
  outline: 1px solid #61758F;
}
div.cercle{
  width: 1970px; height:
  1000px; background-color: #6570FF;border-radius: 50%; 
  margin-top: -500px;margin-left:-200px;
  /* position: fixed; */
  position: relative;

}
header {
  border-radius: 20px;
  margin-top: -500px;
  margin-left: 0px;
  width: 100%;
  position: fixed;
  /* background-color: #d8d8d87d; */
}


nav.gnb{
float: left;
  outline: 1px solid #D3DAE6;
  /* position: sticky; */
  /* border-top-left-radius: 10px; */
}

nav.gnb ul:nth-child(1){
  width: 64px;
  height: 900px;
  float: left;
}
nav.gnb li{
  font-size: 22px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  line-height: 64px;
  outline: 1px solid #D8D8D8;
  text-align: center;
  background-color: #EFF0F2;
  
}
nav.gnb li:hover{
  background-color: #FFFFFF;
  color: #6570FF;float: left;
}

div.gnb2{
z-index: 20px;
}

div.gnb2 ul{
  width: 660px;
  height: 54px;
  /* outline: 1px solid pink; */
  background-color: #f7f8fa;
  border-bottom-right-radius: 30px;
}
div.gnb2 ul{
  line-height: 54px;
  color:#D3DAE6;

  }
div.gnb2 ul li{
 width: 64px; text-align: center;
 line-height: 64px;
 height: 64px; float: left;
 /* outline: 1px solid #6570FF; */
 background-color: #2D3B4D;
}
div.gnb2 ul li:first-child{
background-color: #0C141F;
color: #6570FF;
}
div.gnb2 ul li:nth-child(5){
border-bottom-right-radius:30px;
}
ul.gnb3 {
  width: 215px;  background-color: #f7f8face;

}
ul.gnb3 li {
  width: 215px;
  height: 68px ;
  text-align: center;
  line-height: 68px;
  margin-top: 10px;
}
ul.gnb3 li:hover {
background-color: #D3DAE6;
color: #6570FF;}

ul.gnb3 li a:nth-of-type(1){
  color: #61758F;
}

nav div.btn{
  width: 240px;
  height: 40px;
  
  /* outline:1px solid #020754; */
}
div.btn button{
  width: 78px;position: fixed;
  height: 40px;float: left; left: 510px;
  top:76px;float: left;
  /* outline:1px solid #2D3B4D; */
  box-sizing: border-box;
  font-size: 10px;
  cursor: pointer;
}
div.btn button:hover{
 opacity: .8;
}
div.btn button:nth-child(1){
  background-color: #f7f8fa4f;
  border: none;border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; left: 340px;
}
div.btn button:nth-child(2){
  background-color: #61758F;
  border: none; left: 418px;}
div.btn button:nth-child(3){
  background-color: #14B2BD;
  border: none;left: 490px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
section{position: relative;}

div.box{
  position: fixed;
}
article:nth-of-type(1){
  width: 360px;
  height: 732px;
  background-color:f7f8face ;
  float: right;
  /* outline: 1px solid #2D3B4D; */
  position: absolute;
  top:-260px; left: 250px;
  background-color: #f7f8face;
  border-radius: 10px; margin: 10px;
}
article:nth-of-type(2){
  width: 890px;
  position: absolute;
  height: 152px;
  margin: 0 10px;
  top:-270px; left:630px;
  background-color:#f7f8face ;
  /* outline: 1px solid #2D3B4D; */
  border-radius: 10px; 
}
article:nth-of-type(3){
  width: 890px;
  position: absolute;
  height:564px;
  margin: 0 10px;
  top:-100px; left:630px;
  background-color:#f7f8face ;
  /* outline: 1px solid #61758F; */
  border-radius: 10px; 
}
ul.about-top{
  background-color: #F7F8FA;
  width: 100%; border-top-left-radius: 10px;
  border-top-right-radius: 10px; margin: -20px 0;
  height: 144px; z-index: 10; position: relative;

}
ul.about-top li{
  font-weight: bold;
  margin: 30px; 
  color: #2D3B4D;
  position: absolute;
}

ul.about-top input{
 width: 270px;
 height: 36px;
 border-radius: 20px;
 text-align: center;
 border:1px solid #D3DAE6;
position:absolute; top: 50px;
}
li >button{
  width: 30px;
  height: 30px;
  background-color: #D8D8D8;
  border: #61758F;
  border-radius: 50%;
  position: fixed;
  top: 214px; left:570px;
  cursor: pointer;
}


div.about-box{
  width: 318px; margin: 0 auto;
  height: 680px; top:-70px;
  position: sticky;
  /* outline: 1px solid #6570FF; */
  position: relative;
  color: #EFF0F2;

}
div.about-box >p:nth-of-type(1){
  font-size: 18px; font-weight: bold;
}
div.about-box p{
  margin: 20px 20px; color: #fff;
}
div.about-box> p:hover{
  text-decoration: underline; color: #14B2BD;
}
div.about-box span{
  margin: 20px 20px;
  
}
ul.about-box1{
  width: 318px;
  height: 220px;
  outline: 1px solid #61758F;
  background-color:  #6570FF;
  color: #D3DAE6; font: bold;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  /* top: 318px; */
}

ul.about-box2{
  width: 318px;
  height: 220px;
  outline: 1px solid #61758F;
  background-color:  #F7F8FA;
  color: #6570FF; font: bold;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  top: 230px;
}
ul.about-box2 p:nth-of-type(1),
ul.about-box2 p:nth-of-type(3){
color: #0C141F;
font-size: 16px;
font-weight: bold;
margin: 20px 20px;
}
ul.about-box2 p{
color: #0C141F;
font-size: 12px;
margin: 6px 20px;
}

ul.about-box3{
  width: 318px;
  height: 220px;
  outline: 1px solid #61758F;
  background-color:  #6570FF;
  color: #EFF0F2; 
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  top: 460px;
  font-size: 13px;
  /* margin: 4px 20px; */
}

ul.about-box3 h3 {
  margin: 10px 18px;font-size: 16px;
}
ul.about-box3 p{
  font-size: 12px;
  margin: 4px 20px;
}

ul.icon {
  width: 880px;
  height: 70px; position: relative;
  top:60px; left: 20px;
  /* outline: 1px solid pink; */
}
.cercle{
border-radius: 50%;
background-color: #2D3B4D;
width: 30px;height: 30px;
}
.skills h3{
  font: bold 30px ;color: #0C141F;
  position: absolute;
  margin: 20px 30px;
}
ul.icon li img{
  width: 60px;
  height: 60px;
  float: left;
  margin: 4px;
}
section.About-me {
  position: relative;
  width: 458px;
  height: 188px; background-color: #F7F8FA;
  border-radius: 10px;
  margin: 16px;
  box-shadow: 5px 5px #EFF0F2;
}
section.About-me img{
  border-radius: 20px;
  width:100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 38px;
  background: cover center;
}
section.About-me li p{
  width: 256px;
  height: 73px;
  position: absolute;
  float: right;
  
}
section.About-me h5{
  position: absolute;
  font-size: 12px;
  top: 20px;left: 140px;
  margin: 10px;
  font-weight: bold;
}
section.About-me span{
  font-weight: bold;
  float:right;
  margin: 20px;
}
section.About-me li p{
  font-weight: bold;
  margin: 40px;left: 120px;
  font-size: 10px;top: 40px;margin: 30px;
}


section.About-me button{
  width:90px ;
  height: 28px;
  border-radius: 20px;
  background-color: #6570FF;
  position: absolute;
  margin-top: 80px;
  margin-left: -80px;
}

section:nth-of-type(1){
  float: left;
}
section:nth-of-type(2){
  width: 452px;
  height: 282px;
  background-color: #F7F8FA;
  box-shadow: 5px 5px #EFF0F2;
  float: left;
  border-radius: 10px; margin: 20px;
}
section:nth-of-type(3){
  width: 370px;
  height: 512px;
  background-color: #F7F8FA;
  border-radius: 10px;
  box-shadow: 5px 5px #EFF0F2;
  float: right;
  margin: 30px;
  top: -556px;
}
section.work {
  position: relative;
}

section.work h3{
  font-weight: bold;
  margin: 26px;
}
section.work p{
  font-size: 12px ;
  padding: 26px;
  border-radius: 10px;
  width: 250px;
  margin: 0 70px;
  background-color: #EFF0F2;
}
section.work button.view:nth-of-type(1){
  background-color: #6570FF;
  width: 110px;
  height: 32px;
  position: absolute;
  border: none;
  border-radius: 20px;
  top: 220px; left: 110px;
  
}
section.work button.view:nth-of-type(2){
  background-color: #6570FF;
  width: 110px;
  height: 32px;
  position: absolute;
  border: none;
  border-radius: 20px;
  top: 220px; left: 240px;
  
}
button.view:hover{
  background-color: #D8D8D8;
  color: #14B2BD;
  
}

div.cover{
  width: 367px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  height: 52px;
  position: relative;
}

div.cover{
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  /* margin: 14px; left: 10px;z-index: 10px; */
}
h1{
  color: #656fff;
  font-size: 1rem;
  text-align: center;
  opacity: 0.6;
  line-height: 2;

}

form{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;position: absolute;
}

.input{
  border: none;
  color: #444;
  padding: 10px;
  font-size: 1rem;
  display: block;
  width: 300px;
  position: relative;
  top: 430px;
  left: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.input::placeholder{
  color: #d5d5d5;
}
input:focus{
  outline-color: #656fff6c;
}

.todos{
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li{
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.todos li.completed{
  color: #d6d6d6;
  text-decoration: line-through;
}

